<div class="fixed-bottom">
    <a href="/patch_notes"><span id="vnumber">v1.0.0</span></a>
    <span class="footer-separator">|</span>
    <a href="/feedback"><span id="feedback">Send feedback</span> </a>
    <span class="footer-separator">|</span>
    <a href="/donate"><span id="donate">Donate</span> </a>
</div>