<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('header.ejs') %>
        <title>Forgot password | Footy Calendar</title>
</head>

<body>
    <div id="loadOverlay"></div>
    <div class='progress' id='PreLoaderBar'>
        <div class='indeterminate'></div>
    </div>
    <div class="container">
        <div class="back-container">
            <button class="btn" onclick="history.back()">BACK</button>
        </div>
        <h1>Forgot your password?</h1>
        <div class="non-table warning">We'll send you a password reset link in email to help you regain access to your Footy Calendar account.</div>
        <form id="forgotpwform">
            <input class="gen-text non-table" type="email" id="email" placeholder="Email associated with your Footy Calendar" required>
            <button class="btn small-btn non-table" type="submit">Send link</button>
        </form>

    </div>

    <%- include('footer.ejs') %>
        <div id="result"><br></div>
</body>

<script>
    $(document).ready(function() {

        // When the form is submitted
        $("#forgotpwform").submit(function(event) {
            startProgress()
            event.preventDefault();
            const email = $('#email').val()

            $.ajax({
                type: "POST",
                url: "/forgot-pw",
                data: {
                    'email': email
                },
                success: function(data, status, xhr) {
                    console.log(`response status code: ${xhr.status} | response text: ${xhr.responseText}`)

                    $("#result").css("color", "rgb(144, 255, 110)")
                    $("#result").text(xhr.responseText)
                    stopProgress()
                    displayResult()
                        //location.href = "/"
                },
                error: function(xhr, status, error) {
                    $("#result").css("color", "rgb(255, 94, 94)")
                    $("#result").text("Error: " + xhr.responseText)
                    displayResult()
                    console.log(`response status code: ${xhr.status} | response text: ${xhr.responseText}`)
                    stopProgress()
                }
            })
        })
    })
</script>

</html>