<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('header.ejs') %>
        <title>New password | Footy Calendar</title>
</head>

<body>
    <div id="loadOverlay"></div>
    <div class='progress' id='PreLoaderBar'>
        <div class='indeterminate'></div>
    </div>
    <div class="container">
        <div class="back-container">
            <button class="btn" onclick="history.back()">BACK</button>
        </div>
        <h1>Set new password</h1>
        <form id="newpwform">
            <input class="gen-text non-table" type="password" id="old_pw" placeholder="Old password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required>
            <input class="gen-text non-table" type="password" id="pw" placeholder="New password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required>
            <input class="gen-text non-table" type="password" id="pw2" placeholder="New password again" required>
            <button class="btn small-btn non-table" type="submit">Save new password</button>
        </form>

    </div>

    <%- include('footer.ejs') %>
        <div id="result"><br></div>
</body>

<script>
    $(document).ready(function() {

        // When the form is submitted
        $("#newpwform").submit(function(event) {
            startProgress()
                // Prevent the default form submission
            var userError = {
                msg: "",
                triggered: false
            }
            event.preventDefault();
            const old_pw = $('#old_pw').val()
            const pw = $('#pw').val()
            const pw2 = $('#pw2').val()

            if (pw != pw2) {
                userError.msg = "Password and password confirmation fields have to match"
                userError.triggered = true
            }

            if (!userError.triggered) {
                $.ajax({
                    type: "POST",
                    url: "/set-newpw",
                    data: {
                        'old_pw': old_pw,
                        'pw': pw
                    },
                    success: function(data, status, xhr) {
                        console.log(`response status code: ${xhr.status} | response text: ${xhr.responseText}`)

                        $("#result").css("color", "rgb(144, 255, 110)")
                        $("#result").text(xhr.responseText)
                        stopProgress()
                        displayResult()
                            //location.href = "/"
                    },
                    error: function(xhr, status, error) {
                        $("#result").css("color", "rgb(255, 94, 94)")
                        $("#result").text("Error: " + xhr.responseText)
                        displayResult()
                        console.log(`response status code: ${xhr.status} | response text: ${xhr.responseText}`)
                        stopProgress()
                    }
                })
            } else {
                $("#result").css("color", "rgb(255, 94, 94)")
                $("#result").text("Error: " + userError.msg)
                displayResult()
                stopProgress()
            }
        })
    })
</script>

</html>